.organization {
  display: flex;
  height: 100%;
  .sidebar {
    flex: 0 0 250px;

    border-right: 1px solid lightgrey;
    ul {
      li {
        display: block;
        border-left: 5px solid transparent;
        font-size: 0.97em;
        a {
          display: block;
          padding: 15px 5px;
          text-decoration: none;
          color: black;
        }
      }
      li:hover {
        border-left: 5px solid #2C3E50;
        background: #F7F7F9;
      }
    }
  }
  .main {
    flex-grow: 1;
    .contacts-wrapper {
      height: 100%;
      display: flex;
      flex-flow: column;

      .title {
        padding: 30px;
        font-weight: normal;
        font-size: 1.6em;
        border-bottom: 1px solid lightgrey;
        color: #585858;
      }
      .contacts {
        display: flex;
        .contact {
          width: 20%;
          border-right: 1px solid lightgrey;
          border-bottom: 1px solid lightgrey;
          text-align: center;
          p {
            padding: 15px 0;
          }
        }
      }

    }
  }
}